/* Reset margin biar rapih */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fdfdfd;
  color: #333;
}

/* Header */
header {
  background-color: #b56576;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Navigasi */
nav {
  background-color: #e5989b;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Section */
main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

/* Footer */
footer {
  background-color: #6d6875;
  color: white;
  text-align: center;
  padding: 10px;
}
